/* Body */
body {
    background-color: black;
    color: beige;
    display: grid;
    place-items: center;
    font-family: Arial, sans-serif;
}

/* Titel */
.title {
    display: grid;
    place-items: center;
}

.title h1 {
    margin-top: 25px;
    margin-bottom: 0;
}

.title h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

/* Textbereich */
.textarea {
    margin-top: 40px;
    width: 80%;
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
}