/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav a {
    background-color: black;
    color: beige;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover {
    transform: scale(1.3);
}