body {
    background-color: black;
    color: beige;
    display: grid;
    place-items: center;
}

.title {
    display: grid;
    place-items: center;
}

.title h1 {
    margin-top: 25px;
    margin-bottom: 0;
}

.title h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

.imagegalery img {
    height: 200px;
}

.imagegalery img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.text_imagegalery {
    display: grid;
    place-content: center;
    margin-top: 0;
    margin-bottom: 75px;
}