* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 1rem;
}

#logo, #menu {
    width: 4rem;
    height: 4rem;
}

#bMenu {
    border: none;
    background: none;
}

#ddMenu {
    display: none;
    position: absolute;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
}

#bMenu:hover #ddMenu,
#bMenu:focus-within #ddMenu,
#ddMenu:hover,
#ddMenu:focus-within {
    display: block;
}

#ddMenu ul {
    list-style: none;
}

#ddMenu ul li {
    margin-bottom: 1rem;
}

#ddMenu ul li a {
    text-decoration: none;
    color:#613718;
    font-size: 1.2rem;
}

h1 {
    color: #613718;
}

h2 {
    color: #613718;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

h3 {
    color: #613718;
    margin-bottom: 1rem;
}

p {
    color: #737e95;
}

main {
    padding-left: 7rem;
    padding-right: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    gap: 2rem;
}

.overview img {
    width: 5rem;
    height: 5rem;
}

#overview1 {
    grid-column: 1 / 3;
    grid-row: 1;
    border-style: groove;
    border-color: #613718;
    border-width: 0.3rem;
    padding: 2rem;
    width: 35rem;
}

#contact {
    background-color: #613718;
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    margin-top: 4rem;
    cursor: pointer;
}

#overview2 {
    grid-column: 1;
    grid-row: 2;
    border-style: groove;
    border-color: #613718;
    border-width: 0.3rem;
    padding: 2rem;
    width: 25rem;
}

#overview3 {
    grid-column: 2;
    grid-row: 2;
    border-style: groove;
    border-color: #613718;
    border-width: 0.3rem;
    padding: 2rem;
    width: 25rem;
}

.textArea {
    display: flex;
    border-style: groove;
    border-color: #613718;
    border-width: 0.3rem;
    padding: 2rem;
}

#portrait {
    width: 10rem;
    height: auto;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-style: groove;
    border-color: #613718;
    border-width: 0.06rem;
    box-shadow: #613718 0 0 0.5rem;
}
.service img {
    width: 7rem;
    height: 7rem;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

footer {
    background-color: lightgray;
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #bMenu {
        display: none;
    }

    .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #overview1, #overview2, #overview3 {
        width: 100%;
    }

    .textArea {
        width: 100%;
    }

    #portrait {
        display: none;
    }

    .service {
        width: 100%;
        text-align: center;
    }

}