.title {
    grid-row: 1;
    grid-column: 1/13;
}

h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

h3 {
    align-self: center;
}

/*Startseite*/
#webdesign {
    grid-row: 2;
    grid-column: 1/7;
    margin: 0;
}

#webdesigntxt {
    grid-row: 3;
    grid-column: 1/7;
    margin: 0;
}

#hosting {
    grid-row: 4;
    grid-column: 1/7;
    margin: 0;
}

#hostingtxt {
    grid-row: 5;
    grid-column: 1/7;
    margin: 0;
}

#email {
    grid-row: 6;
    grid-column: 1/7;
    margin: 0;
}

#emailtxt {
    grid-row: 7;
    grid-column: 1/7;
    margin: 0;
}

#update {
    grid-row: 2;
    grid-column: 7/13;
    margin: 0;
}

#updatetxt {
    grid-row: 3;
    grid-column: 7/13;
    margin: 0;
}

#moresupport {
    grid-row: 4;
    grid-column: 7/13;
    margin: 0;
}

#moresupporttxt {
    grid-row: 5;
    grid-column: 7/13;
    margin: 0;
}

/*Preise*/
.onetimecostscontainer {
    grid-row: 2/8;
    grid-column: 1/7;
}

.yearlycostscontainer {
    grid-row: 2/8;
    grid-column: 7/13;
}

th {
    text-align: left;
}

th, td {
    padding-right: 4rem;
}

/*MOBILE*/
@media (max-width: 768px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, auto);
        row-gap: 2rem;
    }

    .title {
        grid-row: 1;
        grid-column: 1;
    }

    #webdesign, #hosting, #email, #update, #moresupport {
        grid-row: auto;
        grid-column: 1;
    }

    #webdesigntxt, #hostingtxt, #emailtxt, #updatetxt, #moresupporttxt {
        grid-row: auto;
        grid-column: 1;
    }

    .onetimecostscontainer, .yearlycostscontainer {
        grid-row: auto;
        grid-column: 1;
    }
}